	
	<!-- build:remove -->
	<link rel="stylesheet" 		   href="/app/styles/index.css">
	<script data-main="/app/config" src="/vendor/require.js"></script>
	<link rel="stylesheet" 		   href="/app/styles/index.css">
	<script data-main="/app/config" src="/vendor/require.js"></script>
	<link rel="stylesheet" 		   href="/app/styles/index.css">
	<script data-main="/app/config" src="/vendor/require.js"></script>
	<!-- /build -->

	<!-- build:template
	<link rel="stylesheet" href="/<%= mydataCSS %>">
	<!-- /build -->
	
	<!-- Application styles. Global template. -->
	<!-- build:template
	<script data-main="/app/config" src="/<%= mydataJS %>"></script>
	<!-- /build -->

