	
	<!-- build:remove -->
	<link rel="stylesheet" 		   href="/app/styles/foo.css">
	<link rel="stylesheet" 		   href="/app/styles/bar.css">
	<link rel="stylesheet" 		   href="/app/styles/bazz.css">
	<script data-main="/app/config" src="/vendor/require.js"></script>
	<script type="text/javascript" src="/app/js/utils.js"></script>
	<!-- /build -->

	<!-- Application styles. Global template. -->
	<!-- build:template
	<link rel="stylesheet" href="/<%= mydataCSS %>">
	<!-- /build -->
	
	<!-- Application js. Global template. -->
	<!-- build:template
	<script data-main="/app/config" src="/<%= mydataJS %>"></script>
	<!-- /build -->

